<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: #333333;color: #fff;">
<div class="container-fluid">
    <div class="row">
        <p class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <p><%= msg %></p>
        </div>
    </div>
</div>
  <link rel="stylesheet" href="/bootstrap.min.css">
</body>
</html>