<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body style="color: #fff;background: #283048; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283048 , #859398); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #283048 , #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
<input type="hidden" id="userid" name="userid" value="<%= user_id %>">
<input type="hidden" id="user" name="user" value="<%= user_name %>">
<input type="hidden" id="room" name="room" value="<%= room %>">
<input type="hidden" id="game_limit" name="game_limit" value="<%= game_limit %>">
<input type="hidden" id="time_limit" name="time_limit" value="<%= time_limit %>">
<input type="hidden" id="si" name="si" value="<%= si %>">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div id="info" class="messages chatRoom">
                <button id="ready_play" class="btn btn-danger">شروع</button>
                <div id="game_res" class="game_res"></div>
                <div id="set_hokm"></div>
                <div id="set_info"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div class="player">
                <div id="first_player_hakem" value="" class="hakem"></div>
                <div id="x1" class="seat first_player" value="">---</div>
            </div>
        </div>
    </div>
    <div class="row hkTable">
        <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2 sideseats">
            <div class="player">
                <div id="third_player_hakem" value="" class="hakem"></div>
                <div id="x3" class="seat third_player" value="">---</div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
            <div style="display:none;" id="play_table" class="play_table">میز</div>
            <div class="center-block">
                <div class="table">
                    <div id="moves" class="moves">
                        <div id="first_player_m" class="first_player_m"></div>
                        <div id="second_player_m" class="second_player_m"></div>
                        <div id="third_player_m" class="third_player_m"></div>
                        <div id="fourth_player_m" class="fourth_player_m"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2 sideseats">
            <div class="player">
                <div id="second_player_hakem" value="" class="hakem"></div>
                <div id="x2" class="seat second_player" value="">---</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div id="fourth_player_cards"></div>
            <div class="player">
                <div id="fourth_player_hakem" value="" class="hakem"></div>
                <div id="x4" class="seat fourth_player" value="">---</div>
            </div>
        </div>
    </div>
    <div id="result"></div>
    <div style="display: none;">
        <div id="all_cards"></div>
        <ul class="pages">
            <li class="chat page">
                <input class="inputMessage" placeholder="Type here..."/>
            </li>
            <li class="login page">
                <div class="form">
                    <h3 class="title">What's your nickname?</h3>
                    <input class="usernameInput" id="msg" type="text" maxlength="14" />
                </div>
            </li>
        </ul>
    </div>
    <!--
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div id="messages" class="messages chatRoom"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div id="info" class="messages chatRoom well2">
                    <button id="ready_play" class="btn btn-danger">شروع</button>
                    <div id="game_res" class="game_res"></div>
                    <div id="set_hokm"></div>
                    <div id="set_info"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="display: none;">
            <div id="users" class="messages chatRoom well2"></div>
            </div>
            <div id="info" class="messages chatRoom">
                <button id="ready_play" class="btn btn-danger">شروع</button>
                <div id="set_hokm"></div>
                <div id="set_info"></div>
            </div>
            <div id="messages" class="messages chatRoom well2"></div>
        </div>
    -->
</div>

  <script src="/jquery-1.11.1.js"></script>
  <!--<script src="/jquery-1.10.2.min.js"></script>-->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
  <link rel="stylesheet" href="/bootstrap.min.css">
</body>
</html>