/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-family:Tahoma;
  font-size: 16px;
  direction: rtl;
}
.well2 {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
.messages {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  width: 100%;
  height: 100px;
  overflow: scroll;
  overflow-x:hidden;
  text-align: right;
  margin: 0;
  padding: 10px 20px 10px 20px;
}
.users {
  overflow: scroll;
  overflow-x:hidden;
}
.activities {
  width: 100%;
  height: 100px;
  overflow: scroll;
  overflow-x:hidden;
}
.seat {
  //border: 1px solid #d82d2a;
  height: 60px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}
.sideseats {
  height: 200px;
  vertical-align: middle;
  display: flex;
}
.player {
  vertical-align: middle;
  margin: auto;
  width: 100px;
}
.play_table {
  background-color:green;
  height: 100px;
  width:500px;
}
.table {
  /*
  background: #5cb85c none repeat scroll 0 0;
  border: 10px solid #d82d2a;
  border-radius: 30px;
  */
  height: 200px;
  margin: 10px;
  padding: 100px 0 0;
  text-align: center;
  width: 100%;
}
.moves {
  display: inline-block;
  width:100%;
  text-align:center;
  vertical-align:middle;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card {
  cursor: pointer;
  display: inline-block;
  width: 46px;
  height: 64px;
}
.first_player_m {
  margin-top: -100px;
  position: relative;
}
.second_player_m {
  margin-top: -23px;
  margin-left: 100px;
  position: relative;
}
.third_player_m {
  margin-top: -64px;
  margin-left: -100px;
  position: relative;
}
.fourth_player_m {
  margin-top: -32px;
  position: relative;
}
@-webkit-keyframes heart-beats {
  0%  { -webkit-transform: scale(0.95); }
  30%  { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(0.95); }
  80% { -webkit-transform: scale(1); }
  90% { -webkit-transform: scale(0.95); }
  100% { -webkit-transform: scale(0.95); }
}
@-moz-keyframes heart-beats {
  0%  { -webkit-transform: scale(0.95); }
  30%  { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(0.95); }
  80% { -webkit-transform: scale(1); }
  90% { -webkit-transform: scale(0.95); }
  100% { -webkit-transform: scale(0.95); }
}
@keyframes heart-beats {
  0% { transform: scale( .95 ); }
  30% { transform: scale( 1 ); }
  60% { transform: scale( .95 ); }
  80% { transform: scale( 1 ); }
  90% { transform: scale( .95 ); }
  100% { transform: scale( .95 ); }
}
.blinking {
  -webkit-animation-name: blinkblink;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinkblink;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinkblink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinkblink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinkblink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinkblink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
.heartbeat {
  -webkit-animation: heart-beats 1s infinite;
  -moz-animation: heart-beats 1s infinite;
  animation: heart-beats 1s infinite;
}
#all_cards {
  display: inline-block;
  width: 46px;
  height: 64px;
  background: url('img/cards.png') no-repeat 0px 0px;
}
.game_res {
  direction: rtl;
  float: right;
}
.hkTable {
  background: url('img/hktable.png') no-repeat center center;
}